<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>student table</h1>
    <table>
        <tr>
            <th>student name</th>
            <th>course</th>
            <th>batch</th>
        </tr>
        <tr>
            <td>yash sharma</td>
            <td>java</td>
            <td>74ym1</td>
        </tr>
    </table>
    <center>
        <a href="{% url 'app1:form'%}">click here to visit form </a>
    </center>
</body>
</html>